#rock {
    background-color: gray;
    height: 800px;
}

#character {
    position: relative;
   
    left: 20px;
    background-color: purple;
    height: 70px;
    width: 35px;
    z-index: 1;
    
    
    
    border-top-left-radius: 15px;
}
/* miscrocosm for the portal */
/* shadows and depth to portal and overall space */
#portal { 
    position: absolute;
    
    left: 675px;
    background-color: black;
    height: 441px;
    width: 350px;
    border-top-right-radius: 125px;
    border-top-left-radius: 125px;
    opacity: 1;
}
#circle {
    position: absolute;
    bottom: 300px;
    left: 725px;
    background-color: rgb(255, 147, 255);
    height: 50px;
    width: 115px;
    border-radius: 2px;
    border-top-right-radius: 35px;
}
#circletwo {
    position: absolute;
    bottom: 300px;
    left: 860px;
    background-color: rgb(255, 147, 255);;
    height: 50px;
    width: 115px;
    border-radius: 2px;
    border-top-left-radius: 35px;
}
#portal-right-side {
    position: absolute;
    bottom: 50px;
    left: 1000px;
    background-color: gray;
    height: 300px;
    width: 250px;
    border-radius: 30px;
    
}
#portal-left-side {
    position: absolute;
    bottom: 50px;
    left: 450px;
    background-color: gray;
    height: 300px;
    width: 250px;
    border-radius: 30px;
}
#inner-portal {
    position: relative;
    height: 100px;
    width: 90px;
    bottom: -340px;
    background-color: rgb(255, 147, 255);
    left: 800px;
    opacity: 1;
}
#eye {
    position: relative;
    background-color: black;
    height: 5px;
    width: 5px;
    left: 25px;
    top: 20px;
}
#arm {
    position: relative;
    height: 5px;
    width: 30px;
    background-color: black;
    top: 30px;
    left: 15px;
}
#sword {
    position: relative;
    height: 40px;
    width: 3px;
    background-color: black;
    bottom: 10px;
    left: 40px;
}
#hair {
    position: absolute;
    bottom: 55px;
    
    background-color: gray;
    height: 25px;
    width: 25px;
    border-radius: 10px;
}
#legs {
    position: absolute;
    bottom: -1px;
    left: 5px;
    
    background-color: gray;
    height: 10px;
    width: 25px;
    
}
#portal-link {
    
}

/* intro page  */

body {
    background-color: gray;
    
}

#nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
   
    opacity: 0;
}

.nav-item > a{
    font-size: x-large;
    text-decoration: none;
    color: black
}

#intro {

    opacity: 0;
    font-size: 100px;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 200px;
    
}

li {
    font-size: x-large;
}



