#top {
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    opacity: 0;
    transition: opacity 1s linear;
    height: 50px;
    width: 50px;
    background-color: purple;
    border-radius: 25px;
    

}
#logo:hover {
    cursor: pointer;
    
}
#rock {
    background-color: gray;
    height: 800px;
}

#character {
    position: relative;
    
    left: 200px;
    /* background-color: purple; */
    /* height: 70px;
    width: 35px; */
    z-index: 1;
    
    
    
    /* border-top-left-radius: 15px; */
}
/* miscrocosm for the portal */
/* shadows and depth to portal and overall space */
#portal { 
    position: relative;
    /* bottom: -300px; */
    left: 500px;
    
    
    opacity: 1;
    
}
#circle {
    position: relative;
    bottom: px;
    left: px;
    background-color: rgb(255, 147, 255);
    height: 50px;
    width: 50px;
    border-radius: 2px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    margin: 10px 20px;
}
#circletwo {
    position: relative;
    bottom: px;
    left: px;
    background-color: rgb(255, 147, 255);
    height: 50px;
    width: 50px;
    border-radius: 2px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin: 10px 20px;
}
#door {
    height: 80px;
    width: 60px;
    background-color: rgb(70, 21, 70);
    margin: auto;
    margin-top: 150px;
    
    
}
#portal-right-side {
    position: relative;
    bottom: px;
    left: px;
    background-color: black;
    height: 300px;
    width: 250px;
    border-radius: 30px;
    
}
#portal-left-side {
   
    bottom: px;
    left: px;
    background-color: black;
    height: 300px;
    width: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#inner-portal {
    display: flex;
    
    
    justify-content: space-between;
    position: relative;
    
    bottom: px;
    background-color: rgb(127, 74, 127);
    left: px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    opacity: 1;
}
#eye {
    position: relative;
    background-color: black;
    height: 5px;
    width: 5px;
    left: 25px;
    top: 20px;
}
#arm {
    position: relative;
    height: 5px;
    width: 30px;
    background-color: black;
    top: 30px;
    left: 15px;
}
#sword {
    position: relative;
    height: 40px;
    width: 3px;
    background-color: black;
    bottom: 10px;
    left: 40px;
}
#hair {
    position: absolute;
    bottom: 55px;
    
    background-color: gray;
    height: 25px;
    width: 25px;
    border-radius: 10px;
}
#legs {
    position: absolute;
    bottom: -1px;
    left: 5px;
    
    background-color: gray;
    height: 10px;
    width: 25px;
    
}

/* intro page  */

body {
    background-color: gray;
    
}

#nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
    
    opacity: 0;
}

.nav-item > a{
    font-size: x-large;
    text-decoration: none;
    color: black
}

#intro {
    
    opacity: 0;
    font-size: 100px;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 150px;
    
}

li {
    font-size: x-large;
}

/* PROJECTS STYLES */

#projects:hover {
    cursor: pointer;
    color: rgb(219, 131, 219);
}

/* ABOUT STYLES */

#my-img {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
}
#about:hover {
    cursor: pointer;
    color: rgb(219, 131, 219);
}

#about-p-header {
    font-size: x-large;
    
    
}

#about-p {
    margin: 0 575px;
    text-align: center;
}

/* CONTACT STYLES */

#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
#contact:hover {

    cursor: pointer;
    color: rgb(219, 131, 219);

}
#contact-info-header {
    font-weight: bold;
}

/* MISSION STYLES */

#mission-p {
    margin: 0 400px;
    text-align: left;
    margin-top: 100px;

}
#mission:hover {
    cursor: pointer;
    color: rgb(219, 131, 219);
}
